@model WebApplication1.Models.store

@{
    ViewBag.Title = "Edit Store";
}

<body class="Website_body">

    <div class="contact">
        <div class="content">
            <h2>Edit Store</h2>
        </div>
        <div class="contactform">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="input-field">
                    @Html.HiddenFor(model => model.store_id)
                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.store_name, htmlAttributes: new { @class = "control-label col-md-2" })

                    <i class="fa-solid fa-tags"></i>

                    @Html.EditorFor(model => model.store_name, new { @placeholder = "Store Name", @class = "form-control" })
                    @Html.EditorFor(model => model.store_name, new { htmlAttributes = new { @placeholder = "Store Name", @class = "form-control" } })

                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.store_image, htmlAttributes: new { @class = "control-label col-md-2" })

                    <i class="fa-solid fa-tags"></i>

                    @Html.EditorFor(model => model.store_image, new { @placeholder = "Image URL", @class = "form-control" })
                    @Html.EditorFor(model => model.store_image, new { htmlAttributes = new { @placeholder = "Store Name", @class = "form-control" } })

                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.store_open_times, htmlAttributes: new { @class = "control-label col-md-2" })
                    <i class="fa-solid fa-money-bill"></i>
                    @Html.EditorFor(model => model.store_open_times, new { @placeholder = "Open Times", @class = "form-control" })
                    @Html.EditorFor(model => model.store_open_times, new { htmlAttributes = new { @placeholder = "Store Name", @class = "form-control" } })

                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.store_close_times, htmlAttributes: new { @class = "control-label col-md-2" })
                    <i class="fa-solid fa-info"></i>
                    @Html.EditorFor(model => model.store_close_times, new { @placeholder = "Close Times", @class = "form-control" })
                    @Html.EditorFor(model => model.store_close_times, new { htmlAttributes = new { @placeholder = "Store Name", @class = "form-control" } })

                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.store_address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <i class="fa-solid fa-box"></i>
                    @Html.EditorFor(model => model.store_address, new { @placeholder = "Store Address", @class = "form-control" })
                    @Html.EditorFor(model => model.store_address, new { htmlAttributes = new { @placeholder = "Store Name", @class = "form-control" } })

                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.store_Phonenumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <i class="fa-solid fa-box"></i>
                    @Html.EditorFor(model => model.store_Phonenumber, new { @placeholder = "Store Phone Number", @class = "form-control" })
                    @Html.EditorFor(model => model.store_Phonenumber, new { htmlAttributes = new { @placeholder = "Store Name", @class = "form-control" } })

                </div>

                <div class="Loginbtns">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</body>
