@model WebApplication1.Models.product

@{
    ViewBag.Title = "Add Product";
}

<body class="Website_body">

    <div class="contact">
        <div class="content">
            <h2>Add Product</h2>
        </div>
        <div class="contactform">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="input-field">
                    @Html.HiddenFor(model => model.product_id)
                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.product_brand_name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <i class="fa-solid fa-tags"></i>
                    @Html.EditorFor(model => model.product_brand_name, new { htmlAttributes = new { @placeholder = "Brand Name", @class = "form-control" } })
                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.product_name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <i class="fa-solid fa-tags"></i>
                    @Html.EditorFor(model => model.product_name, new { htmlAttributes = new { @placeholder = "Brand Name", @class = "form-control" } })
                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.product_price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <i class="fa-solid fa-money-bill"></i>
                    @Html.EditorFor(model => model.product_price, new { htmlAttributes = new { @placeholder = "Price", @class = "form-control" } })
                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.product_desc, htmlAttributes: new { @class = "control-label col-md-2" })
                    <i class="fa-solid fa-info"></i>
                    @Html.EditorFor(model => model.product_desc, new { htmlAttributes = new { @placeholder = "Description", @class = "form-control" } })
                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.product_qty, htmlAttributes: new { @class = "control-label col-md-2" })
                    <i class="fa-solid fa-box"></i>
                    @Html.EditorFor(model => model.product_qty, new { htmlAttributes = new { @placeholder = "Quantity", @class = "form-control" } })
                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.product_type, htmlAttributes: new { @class = "control-label col-md-2" })
                    <i class="fa-solid fa-tag"></i>
                    @Html.EditorFor(model => model.product_type, new { htmlAttributes = new { @placeholder = "Type", @class = "form-control" } })
                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.product_size, htmlAttributes: new { @class = "control-label col-md-2" })
                    <i class="fa-solid fa-ruler"></i>
                    @Html.EditorFor(model => model.product_size, new { htmlAttributes = new { @placeholder = "Size", @class = "form-control" } })
                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.product_rating, htmlAttributes: new { @class = "control-label col-md-2" })
                    <i class="fa-solid fa-star"></i>
                    @Html.EditorFor(model => model.product_rating, new { htmlAttributes = new { @placeholder = "Rating", @class = "form-control" } })
                </div>

                <div class="nice-label">
                    @Html.LabelFor(model => model.product_image, htmlAttributes: new { @class = "control-label col-md-2" })
                    <i class="fa-solid fa-image"></i>
                    @Html.EditorFor(model => model.product_image, new { htmlAttributes = new { @placeholder = "Image URL", @class = "form-control" } })
                </div>

                <div class="Loginbtns">
                    <input type="submit" value="Add Product" class="btn btn-default" />
                </div>
            }
        </div>
    </div>

</body>