@model IEnumerable<WebApplication1.Models.person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}


<style>
    .table {
        width: 80%;
        margin: auto;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #dc3545; /* Red background for heading */
            color: #fff; /* White text color for heading */
        }

        .table tr:hover {
            background-color: #e0e0e0; /* Hover row color */
        }

    .details-button {
        background-color: #007bff; /* Blue button color */
        color: #fff; /* White text color */
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 4px;
    }
</style>

<body class="Website_body">
    <section id="peopleIndex" class="section-p1">
        <h2 style="text-align: center;">Users details</h2>

        <div class="pro-container">
            <table class="table white-text-table">
                <tr class="nice-label">
                    <th>
                        @Html.DisplayNameFor(model => model.person_Fname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.person_Lname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.person_username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.person_password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.person_dob)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.person_email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.person_phoneNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.person_address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.person_role)
                    </th>
                    <th></th>
                </tr>
                </br>
                @foreach (var item in Model)
                {
                    <tr style="text-align:center;">
                        <td>
                            @Html.DisplayFor(modelItem => item.person_Fname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.person_Lname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.person_username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.person_password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.person_dob).ToString().Substring(0, 10)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.person_email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.person_phoneNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.person_address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.person_role)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.person_id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.person_id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.person_id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </section>
</body>